version: '3.8'

services:
  nginx:
    image: nginx:1.25
    ports:
      - "8080:80"
      - "8081:8081"
      - "8082:8082"
    volumes:
      - ./nginx.conf.template:/etc/nginx/templates/nginx.conf.template:ro
      - nginx-logs:/var/log/nginx
    environment:
      - NGINX_ENVSUBST_TEMPLATE_DIR=/etc/nginx/templates
      - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx
    command: ["/bin/sh", "-c", 
        "envsubst < /etc/nginx/templates/nginx.conf.template > /etc/nginx/nginx.conf && 
         nginx -g 'daemon off;'"]
    depends_on:
      - app_blue
      - app_green

  app_blue:
    image: ${BLUE_IMAGE:-yimikaade/wonderful:devops-stage-two}
    environment:
      - APP_POOL=blue
      - RELEASE_ID=${RELEASE_ID_BLUE:-blue-v1.0.0}
    ports:
      - "8081:3000"

  app_green:
    image: ${GREEN_IMAGE:-yimikaade/wonderful:devops-stage-two}
    environment:
      - APP_POOL=green
      - RELEASE_ID=${RELEASE_ID_GREEN:-green-v1.0.0}
    ports:
      - "8082:3000"

  alert_watcher:
    build: .
    volumes:
      - nginx-logs:/var/log/nginx
    environment:
      - SLACK_WEBHOOK_URL=${SLACK_WEBHOOK_URL}
      - ERROR_RATE_THRESHOLD=${ERROR_RATE_THRESHOLD:-2}
      - WINDOW_SIZE=${WINDOW_SIZE:-200}
      - ALERT_COOLDOWN_SEC=${ALERT_COOLDOWN_SEC:-300}
      - ACTIVE_POOL=${ACTIVE_POOL:-blue}
    depends_on:
      - nginx
    restart: unless-stopped

volumes:
  nginx-logs: